body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 98%);
}

h1{
    color:rgb(0, 0, 0);
}
#myP{
    font-size:1.5em;
}

form{
    background-color: hsl(199, 66%, 78%);
    text-align: center;
    max-width: 500px;
  
    padding-top: 30px;
   
    margin: auto;
    margin-top: 100px;
}

#paninda{
    font-size: 1em;
}
label{
    font-size: 2em;
    
}
input:hover{
     background-color: hsla(0, 71%, 37%, 0.479) ;
}

button{
    font-size: 1.5em;
    background-color: hsl(0, 71%, 37%);
    color: white;
    margin-bottom: 20px;
}
button:hover{
    background-color: hsla(0, 71%, 37%, 0.479) ;
}
